<a href="#" id="open-modal" data-bs-toggle="modal" data-bs-target="#exampleModal" class="d-flex justify-content-center align-items-start pt-5" style="text-decoration:none">
    <i class="fa-solid fa-plus p-4 rounded-4 text-white fs-1 bg-success"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center" style="background-color: #efefef;">
                <h1 class="modal-title fs-6 fw-bold" id="exampleModalLabel"></h1>
            </div>
            <%= form_with(model: @log_task, url: create_log_task_path, id: 'log-task-form') do |form| %>
                <div class="modal-body">
                    <input type="hidden" id="log_task_id" name="log_task[id]" />
                    <input type="hidden" id="log_task_date" name="log_task[date]" />
                    <div class="fw-bold">Project / Task</div>
                    <select class="form-select mt-2" id="project">
                        <option value=""></option>
                        <% current_user.projects.each do |project| %>
                            <option value="<%= project.id %>">
                                <% if project.code.present? %>
                                    [<%= project.code %>]
                                <% end %>
                                <%= project.name %>
                            </option>
                        <% end %>
                    </select>
                    <%= form.collection_select :task_id, current_user.tasks.all, :id, :name, { prompt: "" }, { class: 'form-select mt-2', name: 'log_task[task_id]', id: 'task-select' } %>
                    <div class="row mt-2">
                        <div class="col-9">
                            <%= form.text_field :notes, class: "form-control mt-2", placeholder: "Notes (optional)", name: "log_task[notes]", id: "log_task_notes" %>
                        </div>
                        <div class="col-3">
                            <%= form.text_field :timer, class: "form-control mt-2", placeholder: "0:00", name: "log_task[timer]", id: "log_task_timer" %>
                        </div>
                    </div>
                    <div class="mt-3">
                        <%= form.submit "Start timer", class: "btn btn-success", id: "log-task-submit" %>
                        <button type="button" class="btn border" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
